[submodule "external/lean"]
	path = external/lean
	url = https://github.com/klawd-prime/lean.git
[submodule "external/less.js"]
	path = external/less.js
	url = https://github.com/cloudhead/less.js.git
